<input [value]="search1"
        #predSearch
        (keyup)="updateList(search1)"
        ngxTypeahead
        [taList]="myLocalList" 
        [taItemTpl]="custSearchTemp"
        (taSelected)="selectedStatic($event)">


<ng-template #custSearchTemp let-item>
        <a class="result" [routerLink]="['/customer/detail', item.result.customer_id]" class="link">
                <div class="item-name">
                  <strong>{{item.result.customer_name}}</strong>
                </div>
                <div class="item-desc">
                  {{item.result.phone_1}} ||  {{item.result.email}}
                </div>
        </a>
</ng-template>