<form class="form-inline" #frmSearchOrder="ngForm">

    <!-- <label class="mr-sm-2  mb-4 form-text text-muted" for="">Order, customer, publication...</label> -->

    <label  class="sr-only " for="OrderName"></label>
    <input ngModel (keyup)="searchOrderBySomething(inputSearchOrderBySomething.value)" #inputSearchOrderBySomething 
           minlength="3" type="text" class="form-control-sm mb-4 mr-sm-2 col-md-5" id="OrderName" placeholder="filter by customer" 
           name="filterByOtherFields">
  
    <label class="sr-only" for="inlineFormInputGroupDate">Date of Order</label>
    <div class="input-group input-group-sm mb-4 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Date</div>
      </div>
      <input ngModel type="text" class="form-control-sm" id="inlineFormInputGroupDate" name="filterByDate" placeholder="date of Order">
    </div>

  
    <button (click)="filterOrders(frmSearchOrder.value)" class="btn btn-primary mb-4 btn-sm"> <i class="fa fa-search"></i> search</button>
  </form>